body{
    margin: 0;
    padding: 0;

}
.container
{
    position: relative;
}

h1{
    position: absolute;
    color: yellow;
    font-size: 150px;
    white-space: nowrap;
    font-family: 'Big Shoulders Text', cursive;  
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2{
    color: yellow;
    font-size: 45px;
    font-family: 'Big Shoulders Text', cursive;  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h3{
    position: absolute;
    top: 80%;
    left: 85%;
    transform: translate(-50%, -50%);
}
h4
{
    position: absolute;
    color: yellow;
    font-size: 150px;
    white-space: nowrap;
    font-family: 'Big Shoulders Text', cursive;  
}
h5
{
    position: absolute;
    top: 70%;
    left: 10%;
    transform: translate(-50%, -50%);
}

a{
    color: red;
    position: absolute;
}

html{
    background-image: url("../images/cyberpunk-icon.jpg");
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.count{
    margin: 40px 0;
}
.countd{
    display: inline-block;
    width: auto;
    height: auto;
    border:2px solid;
    margin: 0 30px;


}

body{
    margin-top: 300px;
    text-align: center;
}
.cyberButton
{
    color: yellow;
    font-family: 'Big Shoulders Text', cursive;
    font-weight: 100;
    font-size: 56px;
    text-align: center;

    border: solid 2px yellow;
    border-radius: 50px;
    top: 70%;
    left: 40%;
    padding: 10px 80px;

}

.cyberButton:hover{
    background-color: yellow;
    color: black;
}
